h3 {
    padding-bottom: 5px;
    border-bottom: 1.5px solid #ccc;
}
thead {
    text-align: center;
}
.title {
    padding: 1.5rem;
    text-align: center;
    text-decoration: underline;
}
.section-list {
    font-size: 1.3rem;
}
.sections {
    font-size: 1.25rem;
}
.table {
    color: #555;
}
.table-scroll {
    overflow-x: scroll;
}
.note {
    padding: 10px;
}
.code-box {
    padding: 10px;
    white-space: pre-line;
    border: 1px solid #7c8e9c;
    border-radius: 6px;
    background-color: #f6f5f6;
}
.code-box-color code {
    color: #ff395a;
}
.img {
    max-height: 100%;
    max-width: 100%;
}

/* Responsiveness */
@media screen and (max-width: 575px) {
    
    .title {
        padding: 0.75rem;
    }
    .section-list {
        font-size: 1.1rem;
    }
    .sections {
        font-size: 1rem;
    }
}
