/* Fonts Family */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@600&family=Roboto+Slab:wght@500&family=Ubuntu:wght@500&display=swap");

.font-roboto-slab {
    font-family: "Roboto Slab";
}
.font-montserrat {
    font-family: Montserrat;
}
.font-ubuntu {
    font-family: Ubuntu;
}

body {
    text-align: center;
    background-color: #020202;
    color: #fff;
}
a {
    text-decoration: none;
}
.title {
    margin-top: 1rem;
    margin-bottom: 2rem;
    color: #4b92db;
}
.list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 8px;
    padding: 0 45px;
    font-size: 0.85rem;
}
.list-block {
    display: block;
    padding: 5px;
    border: 1px solid #007fff;
    border-radius: 6px;
    background-color: #100c08;
    color: #fff;
    transition: color 0.4s;
}
.list-block:hover {
    border-color: #64b5f6;
    color: #64b5f6;
}
.credits {
    margin-top: 1rem;
}
.credits a {
    display: inline-block;
    font-size: 0.80rem;
    color: #aaa;
    transition: color 0.4s;
}
.credits a:hover {
    color: #fff;
}

/* Responsiveness */
@media only screen and (max-width: 450px) {
    .title {
        margin-top: 2rem;
        margin-bottom: 1rem;
    }
    .list {
        grid-template-columns: 1fr;
        gap: 10px;
        padding: 5px;
    }
}
